{% extends '::base.html.twig' %}

{% if status_code == 403 %}
    {% set page_title = '403 Forbidden' %}
{% elseif status_code == 404 %}
    {% set page_title = '404 Not Found' %}
{% else %}
    {% set page_title = status_code ~ ' ' ~ status_text %}
{% endif %}

{% block content %}
    {% if status_code == 403 %}
        <p>The page you requested cannot be displayed.</p>
    {% elseif status_code == 404 %}
        <p>The page you requested cannot be displayed.</p>
    {% else %}
        <p>The page you requested cannot be displayed.</p>
    {% endif %}
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}
