{% extends '::base.html.twig' %}

{% if status_code == 403 %}
    {% set page_title = '403 Недостаточно прав доступа' %}
{% elseif status_code == 404 %}
    {% set page_title = '404 Страница не найдена' %}
{% else %}
    {% set page_title = status_code ~ ' ' ~ status_text %}
{% endif %}

{% block content %}
    {% if status_code == 403 %}
        <p>
            Если вы видите эту страницу, значит у вас не хватает полномочий в системе.
            Если вы уверены, что это ошибка в системе, пожалуйста, сообщите нам об этом
            и не забудьте указать какие действия привели вас на эту страницу.
        </p>
    {% elseif status_code == 404 %}
        <p>
            Указаный адрес не существует. Если вы уверены, что такой страницы нет по нашей вине, пожалуйста,
            сообщите нам об этом и не забудьте указать адрес, с которого вы сюда попали.
        </p>
    {% else %}
        <p>
            Если вы видите эту страницу, значит что-то произошло не так как должно.
            Пожалуйста, сообщите нам, какие действия привели вас на эту страницу. Мы исправим ошибку как можно быстрее.
            Извините за причененные неудобства.
        </p>
    {% endif %}
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}
