{% extends '::base.html.twig' %}

{% set page_title = '404 Not Found' %}

{% block content %}
    <p>The page you requested cannot be displayed.</p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}
