/* Override some defaults */
html, body {
  background-color: #eee;
}

.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
  min-height: 500px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.topbar .btn {
  border: 0;
}

/**
 * Overriden styles
 */
.topbar-inner, .topbar .fill {
    background: #6284a8 /*url(images/header-bg.gif) repeat-x*/;
    /*background-color: #3e5d81;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#3e5d81), to(#5b7fa6));
    background-image: -moz-linear-gradient(top, #3e5d81, #5b7fa6);
    background-image: -ms-linear-gradient(top, #3e5d81, #5b7fa6);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e5d81), color-stop(100%, #5b7fa6));
    background-image: -webkit-linear-gradient(top, #3e5d81, #5b7fa6);
    background-image: -o-linear-gradient(top, #3e5d81, #5b7fa6);
    background-image: linear-gradient(top, #3e5d81, #5b7fa6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#3e5d81', endColorstr = '#5b7fa6', GradientType = 0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);*/
}

.topbar h3 a, .topbar .brand {
    color: white;
    font-weight: bold;
}

.topbar a {
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px 0px #416389;
    font-size: 11px;
}

.topbar div > ul li > a:hover, .nav li > a:hover, .topbar div > ul .active > a, .nav .active > a {
    background-color: #537498;
    background-color: rgba(83, 116, 152, 0.5);
}

.page-header {
    background-color: #e1e7ed;
}

html, body {
    background-color: #f7f7f7;
}

footer {
    margin-top: 7px;
    padding-top: 7px;
    border-top: none;
}