{% extends '::base.html.twig' %}

{% set breadcrumbs = [{ 'name': post.title, 'path': path('post_show_by_token', {'token': post.token}) }] %}

{% block page_header %}<h1>{{ post.title }}</h1>{% endblock %}

{% block content %}
    <div class="post">
        {% if post.description %}
            <div class="description">
                {{ post.description|raw }}
            </div>
        {% endif %}
        {% include 'PhoshMainBundle:Post:products.html.twig' %}
    </div>
{% endblock %}