/* Override some defaults */
html, body {
    background-color: #eee;
}

.container > footer p {
    text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
    min-height: 500px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
    margin-left: 0;
    padding-left: 19px;
    border-left: 1px solid #eee;
}

.topbar .btn {
    border: 0;
}

form label.required {
    font-weight: bold;
}

/**
 * Overriden styles
 */
.topbar-inner, .topbar .fill {
    background: #6284a8;
}

.topbar h3 a, .topbar .brand {
    color: white;
    font-weight: bold;
}

.topbar a {
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px 0px #416389;
    font-size: 11px;
}

.topbar div > ul li > a:hover, .nav li > a:hover, .topbar div > ul .active > a, .nav .active > a {
    background-color: #537498;
    background-color: rgba(83, 116, 152, 0.5);
}

.page-header {
    background-color: #e1e7ed;
}

html, body {
    background-color: #f7f7f7;
}

footer {
    margin-top: 7px;
    padding-top: 7px;
    border-top: none;
}

.form-stacked label {
    font-weight: normal;
}

/**
 * Conflicts with jQuery UI Datepicker, when z-index is set to 2
 */
.input-prepend .add-on, .input-append .add-on {
    z-index: 0;
}

.modal-footer .btngroup .btn {
    margin-left: 0px;
}

/**
 * Styling photos add dialog
 */
#addPhotoDialog .preview .media-grid a {
    margin-bottom: 0;
}

#addPhotoDialog .preview {
    margin-top: 5px;
}

#addPhotoDialog .fileTree {
    background: #fafafa;
    padding: 5px;
    max-height: 200px;
    overflow: auto;
    padding-bottom: 5px;
}

#addPhotoDialog .rotateAngle.btngroup {
    display: none;
}

/**
 * Styling photos on post admin page and product admin pages
 */
#photos .records {
    clear: both;
    padding-bottom: 10px;
}

#photos .records .record {
    display: inline-block;
}

#photos .records .record delete {
    display: block;
}

#photos .records input {
    float: none;
    display: inline;
}

#photos .records label {
    margin: 0;
    padding: 0;
    color: #d3d3d3;
    text-align: left;
    width: auto;
    float: none;
    display: inline;
}

#photos .records a {
    float: left;
    padding: 4px;
    margin: 0 20px 0 0;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

#photos .records a:hover {
    border-color: #0069d6;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

#photos .records input {
    display: inline;
    float: none;
}

/**
 * Styling post photos on users page
 */
.post .products .product .photos {
    max-height: 120px;
    overflow: hidden;
}

.post .products .product .order label {
    margin: 0;
    padding: 0;
    color: #d3d3d3;
    text-align: left;
    width: auto;
    display: inline;
    font-size: 16px;
    float: none;
}

.post .order-form {
    padding-top: 15px;
}