<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="phosh.photo_storage.class">Phosh\MainBundle\PhotoStorage</parameter>
        <parameter key="phosh.http.image_response_factory.class">Phosh\MainBundle\HttpFoundation\ImageResponseFactory</parameter>
        <parameter key="phosh.storage_dir"/>
        <parameter key="phosh.thumbs_dir"/>
    </parameters>

    <services>
        <service id="phosh.photo_storage" class="%phosh.photo_storage.class%">
            <argument>%phosh.storage_dir%</argument>
            <argument>%phosh.thumbs_dir%</argument>
        </service>
        <service id="phosh.http.image_response_factory" class="%phosh.http.image_response_factory.class%" scope="request">
            <argument type="service" id="request" />
        </service>
    </services>
</container>
